fieldset{
	width: 500px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 30px;
	color: black;
	/*background-color: blanchedalmond;*/
  }
 



  body {
	background: #ffffff;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
	
  }


  form#inscription {

	/*-moz-border-radius: 5px;*/
	/*-webkit-border-radius: 5px;*/
	/*border-radius: 5px;*/
	padding: 20px;
	width: 400px;
  }
  form#inscription legend {
	color:blue;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
  }
  li{
	  list-style: none;
	  padding: 0%;
	  margin: 0%;
  }

